@model Manage_student.Models.Student
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Student</h1>
@using (Html.BeginForm("Edit", "Students", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table class="table">
        <tr>
            <td>@Html.LabelFor(s => s.StudentId)</td>
            <td colspan="1">@Html.HiddenFor(s => s.StudentId)</td>            
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.Password)</td>
            <td>@Html.EditorFor(s => s.Password)</td>
            <td>@Html.ValidationMessageFor(s => s.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.FirstName)</td>
            <td>@Html.EditorFor(s => s.FirstName)</td>
            <td>@Html.ValidationMessageFor(s => s.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.LastName)</td>
            <td>@Html.EditorFor(s => s.LastName)</td>
            <td>@Html.ValidationMessageFor(s => s.LastName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.DateOfBirth)</td>
            <td>@Html.EditorFor(s => s.DateOfBirth)</td>
            <td>@Html.ValidationMessageFor(s => s.DateOfBirth)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.Gender)</td>
            <td>@Html.EditorFor(s => s.Gender)</td>
            <td>@Html.ValidationMessageFor(s => s.Gender)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.Phone)</td>
            <td>@Html.EditorFor(s => s.Phone)</td>
            <td>@Html.ValidationMessageFor(s => s.Phone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.Email)</td>
            <td>@Html.EditorFor(s => s.Email)</td>
            <td>@Html.ValidationMessageFor(s => s.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.JoinDate)</td>
            <td colspan="1">
                @Html.EditorFor(s=>s.JoinDate)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.Address)</td>
            <td>@Html.EditorFor(s => s.Address)</td>
            <td>@Html.ValidationMessageFor(s => s.Address)</td>
        </tr>
        @*<tr>
            <td>@Html.LabelFor(s => s.ProfileImage)</td>
            <td colspan="1">
                <input type="file" name="file" />
            </td>
        </tr>*@
        <tr>
            <td><input type="submit" value="Save" class="btn-primary" /></td>
            <td colspan="1">@ViewBag.Msg</td>
        </tr>
    </table>
}
