@model IEnumerable<Manage_student.Models.StudentCompetition>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
}
<div>
    <h3>Welcome, @Context.Session.GetString("staffname")</h3>
</div>
<br />
@Html.ActionLink("Logout", "Logout", "Students")
<br />
<h1>List of Student</h1>
<br />
<p>
    @Html.ActionLink("Create New Student", "Create", "Students")
</p>
<br />
<div style="overflow-x:auto">
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Student.StudentId)</th>
            <th>@Html.DisplayNameFor(model => model.Student.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.Student.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Student.DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.Student.Gender)</th>
            <th>@Html.DisplayNameFor(model => model.Student.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Student.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Student.JoinDate)</th>
            <th>@Html.DisplayNameFor(model => model.Student.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Student.ProfileImage)</th>
            <th>@Html.DisplayNameFor(model => model.Competition.CompetitionName)</th>
            <th colspan="2">Manage</th>                        
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Student.StudentId)</td>
                <td>@Html.DisplayFor(m => item.Student.FirstName)</td>
                <td>@Html.DisplayFor(m => item.Student.LastName)</td>
                <td>@Html.DisplayFor(m => item.Student.DateOfBirth)</td>
                <td>@Html.DisplayFor(m => item.Student.Gender)</td>
                <td>@Html.DisplayFor(m => item.Student.Phone)</td>
                <td>@Html.DisplayFor(m => item.Student.Email)</td>
                <td>@Html.DisplayFor(m => item.Student.JoinDate)</td>
                <td>@Html.DisplayFor(m => item.Student.Address)</td>
                <td><img src="@item.Student.ProfileImage" width="100" height="100" alt="@item.Student.StudentId" /></td>
                <td>@Html.DisplayFor(m => item.Competition.CompetitionName)</td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.Student.StudentId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Student.StudentId }, new { onClick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </table>
</div>
