@model Manage_student.Models.StudentLogin
@{
    ViewData["Title"] = "Login";
}

<h1>Student Login</h1>
@using (Html.BeginForm("Login", "Students", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(s => s.StudentId)</td>
            <td>@Html.TextBoxFor(s => s.StudentId)</td>
            <td>@Html.ValidationMessageFor(s => s.StudentId)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(s => s.Password)</td>
            <td>@Html.EditorFor(s => s.Password)</td>
            <td>@Html.ValidationMessageFor(s => s.Password)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" class="btn-success" /></td>
            <td>@ViewBag.Msg</td>
            <td></td>
        </tr>
    </table>
}

