@model IEnumerable<Manage_competition.Models.StaffCompetition>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Competitions</h2>

<p>
    <a asp-action="Create">Create New Competition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CompetitionName</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>StaffName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Competition.CompetitionId</td>
                <td>@item.Competition.CompetitionName</td>
                <td>@item.Competition.StartDate</td>
                <td>@item.Competition.EndDate</td>
                <td>@item.Staff.StaffName</td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.Competition.CompetitionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Competition.CompetitionId }, new { onClick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
