@model Student_Design_Posting.Models.Design
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload Design</h1>
@using (Html.BeginForm("Upload", "StudentDesignPosting", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<div class="form-group">
    <div>
        @Html.LabelFor(d => d.DesignName)
        @Html.EditorFor(d => d.DesignName)
        @Html.ValidationMessageFor(d => d.DesignName)
    </div>
    <div>
        @Html.LabelFor(d => d.Painting)                        
        <input type="file" name="file" />        
    </div>
    <div>
        @Html.LabelFor(d => d.Description)
        @Html.EditorFor(d => d.Description)
        @Html.ValidationMessageFor(d => d.Description)
    </div>
    <div>
        @Html.LabelFor(d => d.SubmitDate)
        @Html.TextBox("SubmitDate", DateTime.Today, new { @readonly = "readonly", @style = "border: none;" })
    </div>
    <div>
        <input type="submit" value="Upload" class="btn-primary" />
    </div>
</div>
}
<div>
    <h3>@ViewBag.Msg</h3>
</div>

