@model IEnumerable<Manage_design.Models.DesignStudent>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
}
<div>
    <h3>Welcome, @Context.Session.GetString("staffname")</h3>
</div>
<br />
@Html.ActionLink("Logout", "Logout", "Students")
<br />
<h1>List of Design</h1>
<br />
@using (Html.BeginForm())
{
    <div>
        <div><input type="text" name="dname" placeholder="Enter a Design Name" /></div>
        <input type="submit" name="Search" class="btn-primary" />
        <div>
            <form action="/action_page.php">
                <label for="Marks">Fillter by Mark:</label>
                <select name="Marks" id="Marks">
                    <option value="Best">best</option>
                    <option value="better">better</option>
                    <option value="good">good</option>
                    <option value="moderate">moderate</option>
                    <option value="normal">normal</option>
                    <option value="disqualified">disqualified</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
}
<hr />
<div style="overflow-x:auto">
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Design.DesignId)</th>
            <th>@Html.DisplayNameFor(model => model.Design.DesignName)</th>
            <th>@Html.DisplayNameFor(model => model.Design.Painting)</th>
            <th>@Html.DisplayNameFor(model => model.Design.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Design.SubmitDate)</th>
            <th>Fullname</th>
            <th>Mark</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Design.DesignId)</td>
                <td>@Html.DisplayFor(m => item.Design.DesignName)</td>
                <td><img src="@item.Design.Painting" width="100" height="100" alt="@item.Design.DesignId" /></td>
                <td>@Html.DisplayFor(m => item.Design.Description)</td>
                <td>@Html.DisplayFor(m => item.Design.SubmitDate)</td>
                <td>
                    @{
                        var FullName = item.Student.FirstName + " " + item.Student.LastName;
                        @Html.DisplayFor(m => FullName)
                    }
                </td>
                <td>Best</td>
                <td>
                    @Html.ActionLink("Forward to Exhibition", "Forward", new { id = item.Design.DesignId })
                </td>
            </tr>
        }
    </table>
</div>

