@model IEnumerable<ProjectSem3_merged.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Students</h2>
<br />
@foreach (var item in Model)
{
    <div style="font-size:medium" class="font-weight-bold border-dark">
        <div class="border"><img src="@item.ProfileImage" width="100" height="100" /></div>
        <div class="border">@item.FirstName&nbsp;@item.LastName</div>
        <div class="border">Student Id: @item.StudentId</div>
        <div class="border">@item.DateOfBirth.ToShortDateString()</div>
        <div class="border">@item.Gender</div>
        <div class="border">@item.Phone</div>
        <div class="border">@item.Email</div>
        <div class="border">@item.JoinDate</div>
        <div class="border">@item.Address</div>
    </div>
    <br />
    <br />
}