@model IEnumerable<ProjectSem3_merged.Models.CombineModels>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Postings</h2>
<br />
@using (Html.BeginForm("Index", "Postings", FormMethod.Post))
{
    <div><input type="text" name="mname" placeholder="Enter mark" /></div>
    <div><input type="text" name="dname" placeholder="Enter design name" /></div>
    <div><input type="text" name="cname" placeholder="Enter competition name" /></div>
    <div>
        <label>Select Staff: </label>
        @Html.DropDownList("sname", ViewBag.data as SelectList, "All Staffs")
    </div>
    <div><input type="submit" value="Search"></div>
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Post Date</th>
            <th>Post Description</th>
            <th>Mark</th>
            <th>Remark</th>
            <th>Design Name</th>
            <th>Competition Name</th>
            <th>Staff Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Posting.PostingId</td>
                <td>@item.Posting.PostDate</td>
                <td>@item.Posting.PostDescription</td>
                <td>@item.Posting.Mark</td>
                <td>@item.Posting.Remark</td>
                <td>@item.Design.DesignName</td>
                <td>@item.Competition.CompetitionName</td>
                <td>@item.Staff.StaffName</td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.Posting.PostingId })
                </td>
            </tr>
        }
    </tbody>
</table>