@model ProjectSem3_merged.Models.Display

@{
    ViewData["Title"] = "Create";
}

<h2>Create new Display</h2>

<hr />
@using (Html.BeginForm("Create", "Displays", FormMethod.Post))
{
    <div>
        <div>
            @Html.HiddenFor(model => model.Price)
        </div>
        <div>
            @Html.HiddenFor(model => model.SoldStatus)
        </div>
        <div>
            @Html.HiddenFor(model => model.SoldStatus)
        </div>
        <div>
            <label>Exhibition Name</label>
            @Html.DropDownList("ExhibitionId", (IEnumerable<SelectListItem>)ViewBag.data, "--Choose an Exhibition--")
        </div>
        <div>
            <ul>
                @foreach (var design in ViewBag.data2)
                {
                    <li><input type="checkbox" name="DesignId" value="@design.DesignId" /> @design.DesignName</li>
                }
            </ul>
        </div>

        <div>
            @Html.HiddenFor(model => model.CustomerName)
        </div>
        <br />
        <div>
            <input type="submit" value="Create" class="btn-primary" />
        </div>
    </div>
}
<div>
    <h3>@ViewBag.Msg</h3>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

