@model Manage_class.Models.Class
@{
    ViewData["Title"] = "Create";
}

<h2>Create new Class</h2>

<hr />

@using (Html.BeginForm())
{
<div>
    <div>
        @Html.LabelFor(model => model.ClassId)
        @Html.EditorFor(model => model.ClassId)
        @Html.ValidationMessageFor(model => model.ClassId)
    </div>

    <div>
        @Html.LabelFor(model => model.ClassName)
        @Html.EditorFor(model => model.ClassName)
        @Html.ValidationMessageFor(model => model.ClassName)
    </div>
    <br />
    <div>
        <input type="submit" value="Create" class="btn-primary" />
    </div>
</div>
}

<div>
    <h3>@ViewBag.Msg</h3>
</div>

<div>
    @Html.ActionLink("Back to list ", "Index", "Classs")
</div>
