@model IEnumerable<Manage_posting.Models.PostingStaffDesignCompetition>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Postings</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Post Date</th>
            <th>Post Description</th>
            <th>Mark</th>
            <th>Remark</th>
            <th>Design Name</th>
            <th>Competition Name</th>
            <th>Staff Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Posting.PostingId</td>
            <td>@item.Posting.PostDate</td>
            <td>@item.Posting.PostDescription</td>
            <td>@item.Posting.Mark</td>
            <td>@item.Posting.Remark</td>
            <td>@item.Design.DesignName</td>
            <td>@item.Competition.CompetitionName</td>
            <td>@item.Staff.StaffName</td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.Posting.PostingId })
            </td>
        </tr>
        }
    </tbody>
</table>