@model IEnumerable<Manage_staff.Models.Staff>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Index";
}

@*<div>
    <h3>Welcome, @Context.Session.GetString("ename")</h3>
</div>*@
<br />
@Html.ActionLink("Logout", "Logout", "Staffs")
<br />
<h2>List of Staffs</h2>
<br />
<p>
    @Html.ActionLink("Create New Staff", "Create", "Staffs")
</p>
<br />
<table class="table">
    <tr>
        <th>StaffId</th>
        <th>StaffName</th>
        <th>JoinDate</th>
        <th>ProfileImage</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Role</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StaffId</td>
            <td>@item.StaffName</td>
            <td>@item.JoinDate.ToShortDateString()</td>
            <td>
                <img src="@item.ProfileImage" width="50" height="50" />
            </td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Address</td>
            <td>@item.Role</td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.StaffId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StaffId }, new { onClick = "return confirm('Are you sure?')" })
            </td>
        </tr>
    }
</table>


