@model IEnumerable<Manage_exhibition.Models.StaffExhibition>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Exhibitions</h2>

<p>
    <a asp-action="Create">Create New Exhibition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ExhibitionName</th>
            <th>Place</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>StaffName</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Exhibition.ExhibitionId</td>
                <td>@item.Exhibition.ExhibitionName</td>
                <td>@item.Exhibition.Place</td>
                <td>@item.Exhibition.StartDate</td>
                <td>@item.Exhibition.EndDate</td>
                <td>@item.Staff.StaffName</td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.Exhibition.ExhibitionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Exhibition.ExhibitionId }, new { onClick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </tbody>
</table>

