@model IEnumerable<Manage_administrator.Models.Administrator>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Administrators</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
